@charset "utf-8";
/* CSS Document */

* {
	padding: 0;
	margin: 0;
	}

body {
	font-family:"Arial",sans-serif;
	font-size:12px;
	color:#d4d4d4;
	behavior:url("csshover.htc");
	background-color: #000000;
}

p {
	line-height: 18px;
	padding-bottom: 15px;
	line-height: 20px;
	}

a {
	color: #d4d4d4;
	text-decoration: none;
	}

a:hover {
	color: #d4d4d4;
	text-decoration: underline;
	}

p a {
	color: #a38315;
	text-decoration: underline;
	}

p a:hover {
	color: #a38315;
	text-decoration: none;
	}

h1 {
	font-family: 'Tangerine', serif;
	font-size: 40px;
	margin-bottom: 25px;
}

h2 {
	font-family: Arial, Tahoma, "Sans Serif";
	font-size: 16px;
	margin: 25px 0 18px 0;
}


/* ***** Homepage content - Slideshow & Text Box placement *** */
div.content-home img
	{
	left:-1000px;
	position:absolute;
	top:0;
	}
	
div.content-home
{
	height:650px;
	overflow:hidden;
	position:relative;
	width:1000px
}
div.content-home img.first { left:0 }

div.content-home div.home-background
	{
		background-color:#000000;
		filter:alpha(opacity=50);
		height:209px;
		left:128px;
		opacity:0.5;
		position:absolute;
		top:441px;
		width:744px;
		z-index:1
	}

#content_area {
	width: 1000px;
	}
	
#text_box {
	width: 750px;
	height: 150px;
	background-color:#000000;
	padding: 20px;
	margin: 460px auto 22px auto;
	position:relative;

   filter:alpha(opacity=80); 
   -moz-opacity: 0.8; 
   opacity: 0.8; 
   
	z-index:6;
	color: #ffffff;
}

/* ***** END Homepage content - Slideshow & Text Box placement *** */




#text_box_single ul, #text_box_double ul {
    margin-left: 20px;
}

#text_box_single li, #text_box_double li {
	line-height: 20px;
	margin-bottom: 8px;
}

img {
	border: 0;
}

#body_index {
	background: url(../images/background_index.jpg) center top fixed no-repeat;
	}
	
#body_pricing {
	background: url(../images/background_pricing.jpg) center top fixed no-repeat;
	}
		
#body_our_people {
	background: url(../images/background_our_people.jpg) center top fixed no-repeat;
	}
	
#body_careers {
	background: url(../images/background_careers.jpg) center top fixed no-repeat;
	}
	
#body_contact {
	background: url(../images/background_contact.jpg) center top fixed no-repeat;
	}
	
#body_features {
	background: url(../images/background_features.jpg) center top fixed no-repeat;
	}
	
#body_privacy {
	background: url(../images/background_privacy.jpg) center top fixed no-repeat;
	}

#body_media {
	background: url(../images/background_media.jpg) center top fixed no-repeat;
	}	
	
#main_wrapper {
	width: 1000px;
	margin: 50px auto 40px auto;
	background-color:#000;
	}

#header {
	height: 90px;
	}
	
#utility_nav {
	width: 350px;
	float: right;
	font-family: "Times New Roman", Times, serif;
	color: #d8d6d6;
	font-size: 14px;
	margin-top: -25px;
}

#utility_nav ul {
	display: inline;
	float: right;
}
	
#utility_nav li {
	list-style-type: none;
	display: inline;
	padding: 0 0 5px 10px;
}

#utility_nav li a {
	color: #d8d6d6;
}

#logo {
	margin: -35px 0 0 45px;
	width: 280px;
	float: left;
	}

#main_nav {
	background-color: #000;
	margin: 18px 12px 35px 330px;
	padding-top: 30px;
	*padding-top: 10px;
	}
	
	
	
	
/* ***** Start Dropdown Menu  *** */

  /* Style for Usual tabs */
.usual {
	background:#000;
	width:654px;
	margin: 0;
	font-family:"Arial", Tahoma, san-serif;
	padding: 0;
	overflow: auto;
}

.usual li {
	list-style:none;
	float:left;
}

.usual ul a {
  display:block;
  padding:1px 28px 1px 8px;
  *padding:5px 28px 1px 8px;
  text-decoration:none!important;
  margin:1px;
  margin-left:0;
  color:#777;
  font-size: 10pt;
  font-weight: bold;
}

.subnav li a {
	padding:1px 10px;
	*padding:5px 10px;
	}

.usual ul a:hover {
  color:#FFF;
  background:#111;
  }

.usual ul a:active {
  color:#FFF;
  background:#111;
  }

.usual ul a.selected {
  margin-bottom:0;
  color:#777;
  cursor:default;
  }
.usual div {
  *padding-top:3px;
  margin-top: 0px;
  *margin-top:-5px;
  height: 20px;
  clear:left;
  position: relative;
}
.usual div a { color:#777; font-weight:bold; }

#usual2 { background:#0A0A0A; border:1px solid #1A1A1A; }
#usual2 a { background:#222; }
#usual2 a:hover { background:#000; }
#usual2 a.selected { background:snow; }
#tabs3 { background:#FF9; }

.subnav {
	display: inline;
	}

.subnav li a {
	font-size: 13px;
	}

/* ***** End Dropdown Menu    *** */

#sub_nav_new {
	margin-left: 10px;
	}

#sub_nav_new ul {
	list-style-type:none;
	}

#sub_nav_new li {
	list-style-type:none;
	display: inline;
	float: left;
	padding-right: 15px;
	
	}

#sub_nav_new li a {
	font-family:"Arial", Tahoma, san-serif;
	font-weight: bold;
	color: #777;

}


	


.clear {
	clear: both;
	font-size: 0.2em;
	}

#content_area_sub {
	width: 1000px;
	background-color: #000000;
	overflow: auto;
	}

#text_box_single {
	width: 600px;
	margin: 60px auto auto auto;
	padding-bottom: 30px;
}

#text_box_single_wide {
	width: 900px;
	margin: 20px auto auto auto;
	padding-bottom: 30px;
}

#text_box_double_1 {
	width: 400px;
	float: left;
	margin: 40px 0 0 41px;
}

#text_box_double_2 {
	width: 465px;
	float: right;
	margin: 40px 41px 30px 0;
}

#footer {
	height: 30px;
	text-align:center;
	margin: 0 0 20px 0;
	background-color:#2a2a2a;
	padding-top: 5px;
	}

#footer ul {
	width: 980px;
	margin: 0 auto 0 auto;
}

#footer li {
	display: block;
	float: left;
	width: 180px;
	font-family: :"Arial", Tahoma, san-serif;
	}
	
#footer li a {
	color: #636262;
	text-decoration: none;
	}
	
#footer li a:hover {
	color: #fff;
	text-decoration: none;
	}

.price_table {
    border-spacing: 1px;
    background-color: #3b3b3b;
    margin-bottom: 15px;
}

.price_table td {
    background-color: #262626;
    padding: 5px;
    vertical-align: top;
}
