<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-676705-17");
pageTracker._trackPageview();
} catch(err) {}</script>

		<div id="footer">
        	<ul>
            	<li><a href="contact.php">Contact Us</a></li>
                <li><a href="pricing.php">Pricing</a></li>
                <li><a href="privacy.php">Privacy Policy</a></li>
                <li><a href="http://www.graceanne.com" target="_blank">Grace Anne II Yacht and Lodge</a></li>
                <li><a href="http://www.thefloatinglodge.com/" target="_blank">The Floating Lodge</a></li>
            </ul>
        </div>

</div> <!-- end id=main_wrapper -->