<head>
<link href="css/main.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script src="javascript/AC_RunActiveContent.js" language="javascript"></script>
<script type="text/javascript" src="javascript/javascript-slideshow.js"></script>
<script type="text/javascript" src="javascript/javascript.js"></script>
   
   
</head>

	<div id="main_wrapper">
		<div id="header">
<div id="logo">
                <a href="index.php"><img src="images/logo.png" border="0" alt="Empress Luxury Liner" /></a>
            </div>
        	<div id="utility_nav">
           	  <ul>
                	<li style="font-family: Arial, Tahoma, sans-serif; font-size: 13px;">1-800-665-3335</li>
                    <li style="font-family: Arial, Tahoma, sans-serif; font-size: 13px;"><a href="mailto:info@empressluxuryliner.ca">info@empressluxuryliner.ca</a></li>
              </ul>
            </div> <!-- end id=utility_nav -->

            

