.arrow_green, .arrow_yellow, .arrow_orange, .arrow_red, .arrow_pink, .arrow_darkblue, .arrow_lightblue, .arrow_white {
	position: absolute;
	height: 10px;
	width: 10px;
	display: none;
	
	_border-top: 20px solid #6ea54b;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
	font-size: 0px;
	line-height: 0%;
	width: 0px;
	height: 0px;
}



.tooltipbox_green, .tooltipbox_yellow, .tooltipbox_orange, .tooltipbox_red, .tooltipbox_pink, .tooltipbox_darkblue, .tooltipbox_lightblue, .tooltipbox_white {
	min-height: 16px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	-moz-box-shadow:inset 0 0 1px #ffffff, 0 0 10px rgba(0,0,0,.2);
	-webkit-box-shadow:inset 0 0 1px #ffffff, 0 0 10px rgba(0,0,0,.2);
	box-shadow:inset 0 0 1px #ffffff, 0 0 10px rgba(0,0,0,.2);

	position: relative;
	padding: 14px 15px 14px 15px;
	font-size: 12px;
	text-align: justify;
	font-size: 12px;
	font-family: Arial;
	line-height: 18px;
	margin: 10px 0 10px 0;
	text-shadow: 0 1px 0 rgba(255,255,255,.24);
	/*width: 300px;*/
	max-width: 300px;
	min-width: 100px;
	display: inline;
	
	overflow: visible;

}
.tooltipbox_green strong, .tooltipbox_yellow strong, .tooltipbox_orange strong, .tooltipbox_red strong, .tooltipbox_pink strong, .tooltipbox_darkblue strong, .tooltipbox_lightblue strong, .tooltipbox_white strong {
	color: #333;
	padding-right: 10px;
	font-weight: bold;
}
.tooltipbox_green .specular, .tooltipbox_yellow .specular, .tooltipbox_orange .specular, .tooltipbox_red .specular, .tooltipbox_pink .specular, .tooltipbox_darkblue .specular, .tooltipbox_lightblue .specular, .tooltipbox_white .specular {
	position: absolute;
	width: 200%;
	height: 100%;
	background: #ffffff;
	opacity: 0.15;
	filter: alpha(opacity=15);
	top: -30%;
	left: -10%;
	-moz-transform:rotate(20deg);
	-webkit-transform:rotate(20deg);
	-o-transform:rotate(50deg);

}

.specular_wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.tooltipbox_green .arrow, .tooltipbox_yellow .arrow, .tooltipbox_orange .arrow, .tooltipbox_red .arrow, .tooltipbox_pink .arrow, .tooltipbox_darkblue .arrow, .tooltipbox_lightblue .arrow, .tooltipbox_white .arrow {
	position: absolute;
	left: 20px;
	bottom: -19px;

	border-top: 20px solid #6ea54b;
	border-right: 20px solid transparent;
	border-left: 20px solid transparent;
	font-size: 0px;
	line-height: 0%;
	width: 0px;
}

.tooltip_green, .tooltip_yellow, .tooltip_orange, .tooltip_red, .tooltip_pink, .tooltip_darkblue, .tooltip_lightblue, .tooltip_white {
	cursor: default;
	color: inherit;
}

span.tooltip_green, span.tooltip_yellow, span.tooltip_orange, span.tooltip_red, span.tooltip_pink, span.tooltip_darkblue, span.tooltip_lightblue, span.tooltip_white {
	/*font-weight: bold;*/
}



.tooltipbox_green .arrow, .arrow_green { border-top: 20px solid #6ea54b; }
.tooltipbox_yellow .arrow, .arrow_yellow { border-top: 20px solid #9fa248; }
.tooltipbox_orange .arrow, .arrow_orange { border-top: 20px solid #a4714a; }
.tooltipbox_red .arrow, .arrow_red { border-top: 20px solid #a44a4a; }
.tooltipbox_pink .arrow, .arrow_pink { border-top: 20px solid #a44a98; }
.tooltipbox_darkblue .arrow, .arrow_darkblue { border-top: 20px solid #4a4ca4; }
.tooltipbox_lightblue .arrow, .arrow_lightblue { border-top: 20px solid #4a7da4; }
.tooltipbox_white .arrow, .arrow_white { border-top: 20px solid #909191; }

.tooltipbox_green {
	background: #6ea54b;
	background: -moz-linear-gradient(top, #b0e27b, #6ea54b);
	background: -webkit-gradient(linear, center top, center bottom, from(#b0e27b), to(#6ea54b));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b0e27b, endColorstr=#6ea54b);
	border: 1px solid #82c35b;
	color: #47642f;
}
.tooltipbox_yellow {
	background: #9fa248;
	background: -moz-linear-gradient(top, #d3e37c, #9fa248);
	background: -webkit-gradient(linear, center top, center bottom, from(#d3e37c), to(#9fa248));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d3e37c, endColorstr=#9fa248);
	border: 1px solid #bfc35b;
	color: #62642f;
}
.tooltipbox_orange {
	background: #a4714a;
	background: -moz-linear-gradient(top, #e2b07b, #a4714a);
	background: -webkit-gradient(linear, center top, center bottom, from(#e2b07b), to(#a4714a));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e2b07b, endColorstr=#a4714a);
	border: 1px solid #c38c5b;
	color: #64472f;
}
.tooltipbox_red {
	background: #a44a4a;
	background: -moz-linear-gradient(top, #e27b7b, #a44a4a);
	background: -webkit-gradient(linear, center top, center bottom, from(#e27b7b), to(#a44a4a));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e27b7b, endColorstr=#a44a4a);
	border: 1px solid #c35b5b;
	color: #642f2f;
}
.tooltipbox_pink {
	background: #a44a98;
	background: -moz-linear-gradient(top, #e27bcb, #a44a98);
	background: -webkit-gradient(linear, center top, center bottom, from(#e27bcb), to(#a44a98));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e27bcb, endColorstr=#a44a98);
	border: 1px solid #c35bbd;
	color: #642f62;
}
.tooltipbox_darkblue {
	background: #4a4ca4;
	background: -moz-linear-gradient(top, #7f7be2, #4a4ca4);
	background: -webkit-gradient(linear, center top, center bottom, from(#7f7be2), to(#4a4ca4));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f7be2, endColorstr=#4a4ca4);
	border: 1px solid #5b60c3;
	color: #342f64;
}
.tooltipbox_lightblue {
	background: #4a7da4;
	background: -moz-linear-gradient(top, #7bb0e1, #4a7da4);
	background: -webkit-gradient(linear, center top, center bottom, from(#7bb0e1), to(#4a7da4));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7bb0e1, endColorstr=#4a7da4);
	border: 1px solid #5b96c3;
	color: #2f4d64;
}
.tooltipbox_white {
	background: #909191;
	background: -moz-linear-gradient(top, #eaeaea, #909191);
	background: -webkit-gradient(linear, center top, center bottom, from(#eaeaea), to(#909191));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eaeaea, endColorstr=#909191);
	border: 1px solid #c2c2c2;
	color: #585858;
}
